.menu__items{
    display: flex;
    margin: 20px 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    color: rgb(155, 140, 140);
}
.menu__item__text-1{
    font-size: 20px;
    color: rgb(207, 202, 202);
}
.menu__price__text{
    font-size: 20px;
    color: rgb(207, 202, 202);
}
.menu__item__info ul{
    list-style: none;
    display: block;
}
.menu__item__info ul li{
    margin-bottom: 10px;
}
a.menu__items{
    justify-content: space-between;
}