.main-container {
    width: 100%;
    height: 100vh ;
    background-color: black;
}

.reser-head{
    background: url('../assets/resbg.jpg');
    width: 100%;
    height: 480px;
    opacity: 0.4;
    color: white;
    text-align: center;
    padding: 170px;
    background-repeat: no-repeat;
    /* box-shadow: inset 10px 20px 60px 30px #242424; */
    background-size: cover;
    background-position: center;
    object-fit: contain;
    justify-content: center;
    align-items: center;   

}
.reser-head .heading{
    opacity: 1;
    color: white;
}
.reser-head h2{
    font-size: 50px;
    font-weight: 500;
}
/* .reser-head img {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: fill;
    justify-content: center;
    align-items: center;

} */
.reser-content{
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
    color: white;
    background: #242424;
    background-size: contain;
    object-fit: fill;
    padding-top: 60px;
}
.reser-content h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
.reser-content p{
    font-size: 15px;
}
.reser-content h4{
    font-size: 17px;
    font-weight: 400;
    margin-top:10px;
}
.reser-container {
    width: 80%;
    margin: 0px 100px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    bottom: 110px;
    padding: 90px 0px;
    background-color: rgb(17, 6, 6);
}

.css-1hb7zxy-IndicatorsContainer {
    padding-left: 100px;
}

#react-select-3-placeholder {
    color: black;
}

/* path {
    color: black;
} */

span.css-1u9des2-indicatorSeparator {
    background-color: black;
}

#react-select-2-placeholder {
    color: black;
}

input {
    width: 180px;
    font-size: 18px;
}

input.inputBox {
    font-size: 18px;
    padding: 7px 40px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    color: black;
    margin-bottom: 15px;

}

.calendarWrap {
    display: inline-block;
    position: relative;
}

.calendarElement {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 40px;
    border: 1px solid green;
    z-index: 999;
}



.booknow button {
    background-color: black;
    color: white;
    padding: 7px 50px;
    border-radius: 0px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    font-size: 22px;
}

.booknow button:hover {
    background-color: white;
    color: black;
    transition: all 1s ease;
    ;
}

@media only screen and (max-width: 624px) {
    .content{
        justify-content: center;
        align-items: center;
        
    }
    .reser-container {
        bottom:0px;
        display: block;
        padding: 60px 60px;
        margin:0px;
        bottom:40px;
        justify-content: center;
        align-items: center;
        background-color: black;
        
    }


.booknow{
    margin-top:20px;
    text-align: center;
}
.person{
margin-bottom: 15px;

}
.calendarwrap{
margin-bottom: 15px;
}
}
