/* video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
} */
.hero-section{
    background-color: black;
}
.hero-container {
    background: url('./assets/Hero__bg.jpg');
    /* center center */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    opacity: 0.4;
}
.hero-content .heading {
    width: 100%;
    justify-content: center;
    text-align: center;

}
.hero-content{
    width:100%;
    position: absolute;
    top:35%;

}
.hero-content h1 {
    color:#fff;
    font-size: 60px;
    font-weight: 600;
    margin-top: 0px;
    font-family: 'Lumanosimo', cursive;
    overflow: hidden;
}

.hero-content p {
    margin-top: 8px;
    color: #fff;
    font-size: 22px;

}

.hero-para {
    display: none;
}

.hero-btns {
    margin-top: 35px;
}

.hero-btns .btn {
    margin: 6px;
}

/* .fa-play-circle{
    margin-left: 4px;
} */
/* @media screen and (max-width: 960px){
    .hero-container >h1{
        font-size: 70px;
        margin-top: -150px;
    }
} */
@media screen and (min-width:270px) and (max-width:624px){
    .hero-section {
        width: 100%;
        height: 100%;
        background-color: #0d0d0d;
    }

    .hero-container {
        opacity: 1;
        background: url('./assets/respon-bg.jpg');
        object-fit: contain;
        width: 100%;
        height: 540px;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);

    }
    .hero-content{
        padding: 4rem 5rem 2rem 2rem;

    }

    .hero-content>h1 {
        font-size: 34px;
        margin-top: -70px;
    }

    .hero-content>p {
        font-size: 18px;
        margin-top: 15px;
    }

    .hero-para {
        display: block;
        width: 100%;
        background-color: #0d0d0d;
        color: white;
        text-align: center;
        padding: 35px 10px;
    }

    .hero-para h4 {
        font-size: 18px;
        font-weight: 300;
        font-family: 'Lumanosimo', cursive;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
        margin: 0px;
    }

    .hero-btns {
        margin-top: 10px;
        font-size: 19px;
    }

    .hero-btns .btn {
        font-size: 19px;
    }
}
@media screen and (max-width: 624px) and (min-width:370px){
  
    .hero-container{
    height: 600px;
   }
   .hero-para{
    padding: 50px 10px;
   }
}
@media screen and (width:414px) {
    .hero-container{
        height: 630px;
       }
       .hero-para{
        padding: 65px 10px;
       }
    }
@media screen and (width:540px) {
    .hero-container{
        height: 650px;
       }
       .hero-content{
        padding-right: 10rem;
       }
       .hero-content h1{
        font-size: 50px;
       }
       .hero-content p{
        font-size: 24px;
       }
       .hero-btns .btn {
        font-size: 26px;
    }
}
@media screen and (width:412px) {
    .hero-container{
        height: 630px;
       }
       .hero-para{
        padding: 75px 10px;
       }
}
@media screen and (min-width: 768px) and (max-width:920px) {
    .hero-container {
        background: url('./assets/respon-bg.jpg');
        object-fit: contain;
        background-size: cover;
        opacity: 1;
    }
.hero-content{
    padding: 2rem 13rem 2rem 2rem;
}
    .hero-btns .btn {
        font-size: 30px;
    }

    .hero-content>h1 {
        font-size: 60px;
        margin-top: -70px;
    }

    .hero-content>p {
        font-size: 28px;
        margin-top: 20px;
    }
}

@media screen and (width:912px) {
    .hero-content{
        padding: 2rem 16rem 2rem 2rem;
    }
        .hero-btns .btn {
            font-size: 30px;
        }
    
        .hero-content>h1 {
            font-size: 80px;
            margin-top: -70px;
        }
    
        .hero-content>p {
            font-size: 30px;
            margin-top: 30px;
        }
}