.Hmenu-container {
    width: 100%;
    padding: 3rem 6rem;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.Hmenu-container h2 {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 1rem;
    font-family: 'Lumanosimo', cursive;
}
.menu-heading ul{
display: flex;
padding: 20px 0px;
border-top: 1px solid grey;
border-bottom: 1px solid grey;
justify-content: space-evenly;
}
.menu-heading ul li a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #242424;
}
.menu-heading ul li a:hover{
    text-decoration: double underline;
    text-underline-offset: 5px;
    color: black;
}
.Menu-item{
    display: flex;
    margin:40px 0px;
    justify-content: space-between;
    text-align: left;
}
.Menu-item-left{
    padding-right:50px;
}
.Menu-item-right{
    padding-left:50px;
}
.Hmenu-items{
    display: flex;
    margin: 30px 0px;
}
.Hmenu-left img{
    width:100px;
    height: 100px;
    border-radius: 20px;
    margin-right: 20px;
}
.Hmenu-right {
    display: block;
    padding:10px 0px;

}
.Hmenu-right ul{
    display: flex;
    justify-content: space-between;
}
.Item-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.Item-info p{
    font-size: 15px;
    letter-spacing: 0.8px;
}
.line {
    height: 1.5rem;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; */
    border-bottom: 2px dotted #7a7879;
}

.view-btn {
    margin-top: 20px;
    text-align: center;
}
.view-menu {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.view-menu a{
    text-decoration: none;
    color: black;
}

.view-btn button {
    position: relative;
    border-radius: 5px;
    padding: 10px 16px;
    color: #242424;
    justify-content: center;
    background:transparent;
    /* box-shadow: 5px 4px rgb(100, 97, 97); */
}
.view-btn button::before{
    position: absolute;
    content:"";
    top:7px;
    left:7px;
    z-index: -1;
    background: rgb(207, 202, 202);
    padding:20px 87px;
    border-radius: 5px;
    transition: 0.5s;
}
.view-btn button:hover::before {
    top: 0;
    left: 0;
    transition: 0.5s;
}
@media screen and (max-width:624px){
    .Hmenu-container {
        margin-bottom: 2rem;
        padding: 2rem 3rem;
    }
    .Menu-item{
        display: block;
    }
    .Menu-item-left{
        padding-right:0px;
    }
    .Menu-item-right{
        padding-left:0px;
    }
    .Hmenu-right {
        padding:0px;
    }
    .Menu-item hr{
        display: none;
    }
    .Item-title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .Item-info p{
        font-size: 12px;
        letter-spacing: normal;
    }
    .Hmenu-left img{
        margin-right: 10px;
    }
}

@media screen and (max-width:920px) and (min-width:768px) {

    .Hmenu-container {
        margin-bottom: 2rem;
        padding: 2rem 4rem;
    }
    .Menu-item{
        width: 100%;
        display: block;
    }
    .Menu-item-left{
        padding-right:0px;
    }
    .Menu-item-right{
        padding-left:0px;
    }
    .Hmenu-right {
        width: 100%;
        padding:10px 0px;
    }
    .Item-title ul{
        width: 100%;
    }
    .Item-title ul li{
        justify-content: space-between;
    }
    hr{
        display: none;
    }

}






